.jumbotron {
  padding-top: 5rem;
  background-color: #d0d3d8;
}

#projects {
  background-color: #d0d3d8;
}

footer {
  background-color: #545d63;
}

section {
  padding-top: 6rem;
}

.btn {
  background-color: #545d63;
  color: white;
  padding: 7px 17px;
  border-radius: 17px;
}
